@import './base.scss';
@import './variables.scss';

header {
  height: $top;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: linear-gradient(to right, red, green, blue, yellow);
  box-shadow: 0 2px 5px $grey;
  @include flex(center, center, row);
}

main {
  height: calc(100% - (#{$top} * 2));
  width: 100%;
  position: absolute;
  top: $top;

  @media screen and (max-width: 640px) {

    section {
      &.measures {
        display: flex;
        align-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;

        .measure-block {
          height: 400px;
          width: 100%;
        }

        .horizontal-measures {
          .sliders {
            width: 100%;
          }
          .get-size {
            width: 100%;
          }
        }
      }
    }
  }

  section {
    width: 100%;
    @include flex(flex-start, center, row);

    &.measures {
      @include flex(space-around, center, row);

      div {
        height: 80%;
        @include flex(center, center, row);
      }
      
      .vertical-measures {
        @include flex(space-around, center, row);
        
        div {
          padding: 20px 0;
          text-align: center;
          @include flex(space-around, center, column);
        }

        .slider {
          transform: rotate(90deg);
        }

        .slider-output {
          height: 10%;
          width: 50%;
          @include flex(center, center, row);
        }
      }
  
      .human-body {
        img {
          height: 95%;
          width: 95%;
        }
      }
  
      .horizontal-measures {
        padding: 20px;
        @include flex(center, center, column);

        div {
          @include flex(space-around, center, column);
        }

        .sliders {
          .measure {
            padding: 5px;
          }
        }

        .get-size {
          height: 130px;
          @include flex(space-around, center, column);

          .select {
            min-height: 30px;
            min-width: 100px;
            margin: 10px 0;
            padding: 5px;
            background-color: none;
            border: 1px solid $grey;
            border-radius: 5px;
            cursor: pointer;
          }

          &-btn {
            min-width: 100px;
            min-height: 30px;
            margin: 10px 0;
            padding: 5px;
            background-color: blue;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }

      .slider {
        -webkit-appearance: none;
        appearance: none;
        height: 4px;
        border-radius: 4px;
        background: #a7a4a4;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        
        &:hover {
          opacity: 1;
        }
        
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #4CAF50;
          cursor: pointer;
        }

        &::-moz-range-thumb {
          width: 25px;
          height: 25px;
          border: none;
          border-radius: 50%;
          background: #4CAF50;
          cursor: pointer;
        }
      }

      .slider-output {
        height: 10%;
        width: 100%;
      } 
    }
    
    &.results {
      height: 220px;
      width: 100%;
      padding: 10px 30px;
      background-color: #fff;

      .results-table {
        height: 100%;
        width: 100%;
        overflow-x: auto;
        background-color: #fff;
        
        th, td {
          padding: 10px 0 15px 10px;
          box-sizing: border-box;
          text-align: center;
          flex: 1 0 10em;
        }

        thead {
          border-bottom: 2px solid $grey;
        }

        &, thead, tbody {
          display: flex;
          flex-direction: column;
        }

        tr {
          display: flex;
          flex: 1 0;
        }

        tbody {
          height: 100%;
          width: 100%;
          display: block;
          overflow-y: scroll;
          -ms-overflow-style: none !important;
          overflow-y: -moz-scrollbars-none !important;
          
          &::-webkit-scrollbar { 
            display: none !important;
          }

          @media screen and (min-aspect-ratio: 1/1) {
            overflow-y: auto !important;
          }
        }

        .row {
          background-color: #fff;
          
          &:hover {
            background-color: lightgrey;
            border-radius: 5px;
            cursor: pointer;
          }

          .type {
            border-right: 2px solid $grey;
          }
        }
      }
    }
  }
}

footer {
  height: $top;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $lightgrey;
  @include flex(space-around, center, row);
}